@model IEnumerable<sistema_de_ponto.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Colaboradores</h1>

<p>
    <a class="btn btn-outline-dark rounded-pill" asp-action="Create">Cadastrar Colaborador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/Foto/Avatar_vazio.png" alt="" width="32" height="32" class="rounded-circle me-2">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td class="p-1">
                    <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30"><path d="M180 1044q-24 0-42-18t-18-42V384q0-24 18-42t42-18h405l-60 60H180v600h600V636l60-60v408q0 24-18 42t-42 18H180Zm300-360Zm182-352 43 42-285 284v86h85l286-286 42 42-303 304H360V634l302-302Zm171 168L662 332l100-100q17-17 42.311-17T847 233l84 85q17 18 17 42.472T930 402l-97 98Z" /></svg>
                    </button>
                    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>