@model IEnumerable<sistema_de_ponto.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="nav-link p-0" asp-controller="Home" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30"><path d="M447 875 169 597q-5-5-7-10t-2-11q0-6 2-11t7-10l279-279q8-8 20-8t21 9q9 9 9 21t-9 21L262 546h496q13 0 21.5 8.5T788 576q0 13-8.5 21.5T758 606H262l228 228q8 8 8 20t-9 21q-9 9-21 9t-21-9Z" /></svg></a>
</p>
<h1>Colaboradores</h1>

<p>
    @if (User.IsInRole("Gestor"))
    {
        <a class="btn btn-outline-dark rounded-pill" asp-action="Create">Cadastrar Colaborador</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(item.Foto != null)
                    {
                        <img src=@("../Arquivos/" + item.Foto) alt="" width="32" height="32" class="rounded-circle me-2">
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.814-195Q422-450 382.5-489.686q-39.5-39.686-39.5-97.5t39.686-97.314q39.686-39.5 97.5-39.5t97.314 39.686q39.5 39.686 39.5 97.5T577.314-489.5q-39.686 39.5-97.5 39.5Zm.654 370Q398-80 325-111.5q-73-31.5-127.5-86t-86-127.266Q80-397.532 80-480.266T111.5-635.5q31.5-72.5 86-127t127.266-86q72.766-31.5 155.5-31.5T635.5-848.5q72.5 31.5 127 86t86 127.032q31.5 72.532 31.5 155T848.5-325q-31.5 73-86 127.5t-127.032 86q-72.532 31.5-155 31.5ZM480-140q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z" /></svg>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td class="p-1">
                    <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30"><path d="M180 1044q-24 0-42-18t-18-42V384q0-24 18-42t42-18h405l-60 60H180v600h600V636l60-60v408q0 24-18 42t-42 18H180Zm300-360Zm182-352 43 42-285 284v86h85l286-286 42 42-303 304H360V634l302-302Zm171 168L662 332l100-100q17-17 42.311-17T847 233l84 85q17 18 17 42.472T930 402l-97 98Z" /></svg>
                    </button>
                    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        @if (User.IsInRole("Gestor"))
                        {
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        }
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>