@model sistema_de_ponto.Models.RegistraPonto

@{
    ViewData["Title"] = "Details";
}

<h1>Ponto do Dia</h1>
<h2>@Html.DisplayFor(model => model.Funcionario.Nome) @Html.DisplayFor(model => model.Funcionario.Sobrenome)</h2>

<div>
    

    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSaida1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSaida2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida2)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning rounded-pill mr-1" asp-action="Edit" asp-route-id="@Model.Id">Ajustar</a> 
    <a class="btn btn-secondary rounded-pill" asp-action="ControlePonto">Voltar</a>
</div>
