@model sistema_de_ponto.Models.RegistraPonto

@{
    ViewData["Title"] = "Edit";
}

<h1>Ajuste de Ponto</h1>

<h3>@Model.Funcionario.Nome</h3>
<h4>@Html.DisplayFor(model => model.Data)</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           <div class="form-group col-md-4" hidden>
                <label  asp-for="FuncionarioId" class="control-label"></label>
                <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
            </div>

            <div class="form-group col-md-6" hidden>
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    
                    @Html.LabelFor(model=> model.HoraEntrada1)
                    @Html.TextBoxFor(model=> model.HoraEntrada1, "{0:HH\\:mm}", new { @class = "form-control", @type = "time" } )
                    <span asp-validation-for="HoraEntrada1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model=> model.HoraSaida1)
                    @Html.TextBoxFor(model=> model.HoraSaida1, "{0:HH\\:mm}", new { @class = "form-control", @type = "time" } )
                    <span asp-validation-for="HoraSaida1" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-4">
                    @Html.LabelFor(model=> model.HoraEntrada2)
                    @Html.TextBoxFor(model=> model.HoraEntrada2, "{0:HH\\:mm}", new { @class = "form-control", @type = "time" } )
                    <span asp-validation-for="HoraEntrada2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model=> model.HoraSaida2)
                    @Html.TextBoxFor(model=> model.HoraSaida2, "{0:HH\\:mm}", new { @class = "form-control", @type = "time" } )
                    <span asp-validation-for="HoraSaida2" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-warning rounded-pill" />
                <a class="btn btn-secondary rounded-pill" asp-action="ControlePonto">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
