@model sistema_de_ponto.Models.Justificativa

@{
    ViewData["Title"] = "Details";
}

<h1>Solicitação</h1>
<h2>@Html.DisplayFor(model => model.Funcionario.Nome) @Html.DisplayFor(model => model.Funcionario.Sobrenome)</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
       
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ponto.Turno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning rounded-pill">Editar</a>
    @if(User.IsInRole("Gestor"))
    {
        <a asp-action="Solicitacoes" class="btn btn-secondary rounded-pill">Voltar</a>
    }
    else
    {
        <a asp-action="Index" class="btn btn-secondary rounded-pill">Voltar</a>
    
    }
    
</div>
