@model IEnumerable<sistema_de_ponto.Models.Justificativa>

@{
    ViewData["Title"] = "Relatorio";
}
<p>
    <a class="nav-link p-0" asp-controller="Relatorios" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30"><path d="M447 875 169 597q-5-5-7-10t-2-11q0-6 2-11t7-10l279-279q8-8 20-8t21 9q9 9 9 21t-9 21L262 546h496q13 0 21.5 8.5T788 576q0 13-8.5 21.5T758 606H262l228 228q8 8 8 20t-9 21q-9 9-21 9t-21-9Z" /></svg></a>
</p>
<h1>Relatório : </h1>
<h2>Solicitações de Colaboradores</h2>
<p>
    <a class="btn btn-warning rounded-pill" href="@Url.Action("ExportarPDF", "Justificativas")"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30"><path d="M220 896q-24 0-42-18t-18-42V693h60v143h520V693h60v143q0 24-18 42t-42 18H220Zm260-153L287 550l43-43 120 120V256h60v371l120-120 43 43-193 193Z" /></svg>Exportar para PDF</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponto)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome) @Html.DisplayFor(modelItem => item.Funcionario.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ponto.Turno)
                </td>
                
            </tr>
        }
    </tbody>
</table>
