@model sistema_de_ponto.Models.Ponto
@using System.Web

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Turno</h1>

<h2> @Html.DisplayFor(model => model.Turno)</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
}

<p>
    Você tem certeza que deseja excluir este ponto?
</p>

<div>
    
    <hr />
    <dl class="row">

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)  @Html.DisplayFor(model => model.Funcionario.Sobrenome)
        </dd>


        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraEntrada1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada1)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraSaida1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida1)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Intervalo)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraEntrada2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada2)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraSaida2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida2)
        </dd>




    </dl>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-warning rounded-pill" /> 
        <a asp-action="Index" class="btn btn-secondary rounded-pill" >Cancelar</a>
    </form>
</div>
