@model sistema_de_ponto.Models.Ponto

@{
    ViewData["Title"] = "Details";
}

<h1>Turno</h1>

<h3>
    @Html.DisplayFor(model => model.Turno)
    
</h3>

<div>
    <hr />
    <dl class="row">
      
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)  @Html.DisplayFor(model => model.Funcionario.Sobrenome)
        </dd>
       

        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.HoraEntrada1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada1)
        </dd>
              
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.HoraSaida1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida1)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Intervalo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Intervalo)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraEntrada2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada2)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.HoraSaida2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida2)
        </dd>




    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning rounded-pill">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary rounded-pill">Voltar</a>
</div>
