@model sistema_de_ponto.Models.Ponto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes Registros de Ponto</h1>

<div>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraIntervaloInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraIntervaloInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraIntervaloFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraIntervaloFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraExtra)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Cargo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
