@model IEnumerable<Apontei.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Colaboradores</h1>

<p>

    <a class="btn btn-outline-dark rounded-pill" asp-action="Create">Novo Colaborador</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.ImagemPerfil)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Pis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImagemPerfil" alt="" width="32" height="32" class="rounded-circle me-2">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Pis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td class="p-1">

                    <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/Icones/edit_square_FILL0_wght400_GRAD0_opsz48.png" height="30" width="30"/>
                    </button>
                    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Demitir</a>
                    </div>


                </td>


            </tr>
        }
    </tbody>
</table>
